body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  text-align: center;
  background-color: #5cb85c;
  color: white;
  padding: 10px 0;
}

.container {
  flex: 1;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: auto; /* Ensure table fits within container */
}

h1,
h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

button {
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4cae4c;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed; /* Ensures the table layout adapts to the container */
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word; /* Ensures the table cells wrap their content */
  white-space: normal; /* Allows the content to wrap */
  overflow: hidden;
  text-overflow: ellipsis; /* Adds ellipsis for overflow text */
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #5cb85c;
  text-decoration: none;
  margin: 10px 0;
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .container {
    margin: 20px auto;
  }
}
